---
component: navbar
---
<div class="navbar" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="{{relative page.dest "_gh_pages/docs/"}}/" class="navbar-brand"
               style="background: url({{relative page.dest "_gh_pages/assets/img/brand.png"}}) transparent no-repeat;">
              {{site.brand}}
            </a>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
            <ul class="nav navbar-nav">
                <li{{#is data.section "docs"}} class="active"{{/is}}><a href="{{relative page.dest "_gh_pages/docs"}}/">Docs</a>
                </li>
                <li{{#is data.section "contrib"}} class="active"{{/is}}><a
                        href="{{relative page.dest "_gh_pages/contrib"}}/">Contrib</a></li>
                <li><a href="{{site.api_link}}" title="TroopJS 3.x API Docs" target="_blank">API</a></li>
            </ul>
            <ul class="nav navbar-nav pull-right">
                <li>
                    <a href="javascript:void(0)" {{#production}}{{{track.navbar.click-repo}}}{{/production}}>
                      {{> btn-github-star }}
                    </a>
                </li>
                <li>
                    <a href="{{site.download_link}}" title="Download TroopJS"
                       target="_blank" {{#production}}{{{track.navbar.download}}}{{/production}}>
                        <i class="glyphicon glypicon-large glyphicon-download"></i></a>
                </li>
            </ul>
        </nav>
    </div>
</div>
